IyAvZXRjL2NvbmZpZy91c2JnYWRnZXQKCmNvbmZpZyBkZXZpY2UgJ3VzYicK
ICAgIG9wdGlvbiBlbmFibGVkICcxJwogICAgb3B0aW9uIGdhZGdldF9uYW1l
ICdnMScgICAgICAgICAgICMgR2FkZ2V0IE5hbWUgKGFueSBTdHJpbmcpCiAg
ICBvcHRpb24gdmVuZG9yX2lkICcweDFkNmInICAgICAgICAgIyBMaW51eCBG
b3VuZGF0aW9uCiAgICBvcHRpb24gcHJvZHVjdF9pZCAnMHgwMTA0JyAgICAg
ICAgIyBNdWx0aWZ1bmN0aW9uIENvbXBvc2l0ZSBHYWRnZXQKICAgIG9wdGlv
biBkZXZpY2VfdmVyc2lvbiAnMHgwMTAwJyAgICAjIHYxLjAuMAogICAgb3B0
aW9uIG1hbnVmYWN0dXJlciAnTGludXgnCiAgICBvcHRpb24gcHJvZHVjdCAn
VVNCIEdhZGdldCcKICAgIG9wdGlvbiB1ZGNfZGV2aWNlICcnICAgICAgICAg
ICAgICAjIEF1dG8tZGV0ZWN0IGlmIGVtcHR5Cgpjb25maWcgZnVuY3Rpb24g
J3JuZGlzJwogICAgb3B0aW9uIGVuYWJsZWQgJzAnCiAgICBvcHRpb24gZGVz
Y3JpcHRpb24gJ01TLVdpbmRvd3MgY29tcGF0aWJsZSBldGhlcm5ldCcKCmNv
bmZpZyBmdW5jdGlvbiAnZWNtJwogICAgb3B0aW9uIGVuYWJsZWQgJzAnCiAg
ICBvcHRpb24gZGVzY3JpcHRpb24gJ0NEQyBFQ00gZXRoZXJuZXQnCgpjb25m
aWcgZnVuY3Rpb24gJ25jbScKICAgIG9wdGlvbiBlbmFibGVkICcxJwogICAg
b3B0aW9uIGRlc2NyaXB0aW9uICdDREMgTkNNIGV0aGVybmV0IChCZXN0IFBl
cmZvcm1hbmNlKScKCmNvbmZpZyBmdW5jdGlvbiAndW1zJwogICAgb3B0aW9u
IGVuYWJsZWQgJzAnCiAgICBvcHRpb24gZGVzY3JpcHRpb24gJ01hc3Mgc3Rv
cmFnZScKICAgIG9wdGlvbiBpbWFnZV9wYXRoICcvdmFyL2xpYi91c2ItZ2Fk
Z2V0L3N0b3JhZ2UuaW1nJwogICAgb3B0aW9uIGltYWdlX3NpemUgJzUxMk0n
CiAgICBvcHRpb24gcmVhZG9ubHkgJzAnCgpjb25maWcgZnVuY3Rpb24gJ2Fj
bScKICAgIG9wdGlvbiBlbmFibGVkICcwJwogICAgb3B0aW9uIGRlc2NyaXB0
aW9uICdTZXJpYWwgY29uc29sZScKICAgIG9wdGlvbiBzaGVsbCAnMScK
