# /etc/config/usbgadget

config device 'usb'
    option enabled '1'
    option gadget_name 'g1'           # Gadget Name (any String)
    option vendor_id '0x1d6b'         # Linux Foundation
    option product_id '0x0104'        # Multifunction Composite Gadget
    option device_version '0x0100'    # v1.0.0
    option manufacturer 'Linux'
    option product 'USB Gadget'
    option udc_device ''              # Auto-detect if empty

config function 'rndis'
    option enabled '1'
    option description 'MS-Windows compatible ethernet'

config function 'ecm'
    option enabled '0'
    option description 'CDC ECM ethernet'

config function 'ncm'
    option enabled '0'
    option description 'CDC NCM ethernet (Best Performance)'

config function 'ums'
    option enabled '0'
    option description 'Mass storage'
    option image_path '/var/lib/usb-gadget/storage.img'
    option image_size '512M'
    option readonly '0'

config function 'acm'
    option enabled '0'
    option description 'Serial console'
    option shell '1'
